In [ ]:
name='asma'
print(f"my name is {name}")

my name is asma

#python syntax & Structure

##Basics syntax rules

In [ ]:
print("Hello, World!")#function call
x=5#variable
y=10#No need to declear type

Hello, World!

##python is case_sensitive

In [ ]:
Name="john"
name="jane"
print(f"name is {name} and name is {name}")#Different Variables

name is jane and name is jane

##Indentation matters

In [ ]:
if x>0:
  print("x is poistive")#4spaces indentation
  print("this is inside the if block")

x is poistive
this is inside the if block

##Variables & Datatypes

Numeric Types

In [ ]:
age=25 #int
height=5.5 #float
complex_num=3+4j #complex

String Type

In [ ]:
name="alice"
message='Hello World'
multiline="""this is a
             multiline string type"""
print(name,message,multiline)

alice Hello World this is a
             multiline string type

Boolean type

In [ ]:
is_active=True
is_finished=False

Type Checking

In [ ]:
print(type(age)) # <class 'int'>
print(type(height)) # <class 'float'>
print(type(name)) # <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

Type Conversion

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)

print(f"Oringinal{str_number} (type:{type(str_number)})")
print(f"Interger:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Oringinal123 (type:<class 'str'>)
Interger:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

##Hands-on Exercise:

###Exercise 01:personal information

Create variables for personal information

In [ ]:
first_name="Asma"
last_name="Nadaf"
age=19
height=4.1
is_student=True

print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"height: {height} feet")
print(f"Student: {is_student}")

Name: Asma Nadaf
Age: 19
height: 4.1 feet
Student: True

Type conversions

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"age as string: {age_str}")
print(f"height as integer: {height_int}")

age as string: 19
height as integer: 4

##Operators&Basics Operation

Arithmatic Opertor

In [ ]:
a=10
b=3

print(f"Addition:{a}+{b}={a+b}")
print(f"Subtraction:{a}-{b}={a-b}")
print(f"Multiplication: {a}*{b}={a*b}")
print(f"Division: {a}/{b}={a/b}")
print(f"Floor Division:{a}//{b}={a//b}")
print(f"modulas: {a}%{b}={a%b}")
print(f"Exponentiation: {a}**{b}={a**b}")

Addition:10+3=13
Subtraction:10-3=7
Multiplication: 10*3=30
Division: 10/3=3.3333333333333335
Floor Division:10//3=3
modulas: 10%3=1
Exponentiation: 10**3=1000

Order of operation(PEMDAS)



*   P-Parenthesic
*   E-Exponentiation
*   M-Multiplication
*   D-Division
*   A-Addition
*   S-Substration

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

Relational Operators(or)Comparison

In [ ]:
x=5
y=10

print(f"{x}=={y}: {x==y}") #Equal to
print(f"{x}!={y}: {x!=y}") #Not equal to
print(f"{x}<{y}: {x<y}") #Less than
print(f"{x}>{y}: {x>y}") #Greater than
print(f"{x}<={y}: {x<=y}") #Lesser than or equal to
print(f"{x}>={y}: {x>=y}") #Greter than or equal to

5==10: False
5!=10: True
5<10: True
5>10: False
5<=10: True
5>=10: False

String Comparison

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}':{name1<name2}") #Alphabetical Order

'Alice'<'Bob':True

Logical Opertors

In [ ]:
p=True
q=False

print(f"p and q: {p and q}") #Both must be True
print(f"p or q: {p or q}") #AtLeast one must be True
print(f"not p: {not p}") #Opposite of p

p and q: False
p or q: True
not p: False

In [ ]:
#Practical Example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can Drive:{can_drive}")

can Drive:True

In [ ]:
#Muliple Condition
score=85
is_present= True
can_pass=score >=80 and is_present
print(f"Can pass:{can_pass}")

Can pass:True

###Hands on Exercise

Exercise 2:Simple Calculator

Create Calculator that check if a person qualafies for a loan

In [ ]:
#Personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#loan Criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#Check qualification
age_qualified= age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qulaified=age_qualified and income_qualified and credit_qualified

##Data Structure

###Lists

Creating lists

In [ ]:
fruits=["apple","bananan","orange","grape"]
number=[10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]

List indexing(0-based)

In [ ]:
fruits=["apple","bananan","orange","grape"]
print(f"First fruit:{fruits[0]}")
print(f"last fruit:{fruits[-1]}")
print(f"Second To last Fruit:{fruits[-2]}")

First fruit:apple
last fruit:grape
Second To last Fruit:orange

List Slicing

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all except first:{fruits[1:]}")

First 2 fruits:['apple', 'bananan']
last 2 fruits:['orange', 'grape']
all except first:['bananan', 'orange', 'grape']

List Methods

In [ ]:
fruits.append("kiwi") #Add to end
fruits.insert(1,"Strawberry") #insert at index
removed = fruits.pop() #Remove last
print(f"updated list:{fruits}")
print(f"Removed:{removed}")

updated list:['apple', 'Strawberry', 'bananan', 'orange', 'grape']
Removed:kiwi

List Operation

In [ ]:
print(f"lenght:{len(fruits)}")
print(f"contious 'apple':{'apple' in fruits}")
print(f"Index of 'bananan':{fruits.index('bananan')}")

lenght:5
contious 'apple':True
Index of 'bananan':2

##Tuples

###Tuples are immutable

In [ ]:
coordinate=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

Tuple unpacking

In [ ]:
x,y=coordinate
print(f"x:{x}, y:{y}")

x:10, y:20

###Tuple Methods

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"Index od 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
Index od 'Engineer':2

###why use tuples ??

*   Immuatable(safe for dicitionary keys)
*   slighlty faster than list
*   Good for fixed collections

##Dictionaries

####Dictonaries Creation

In [ ]:
person={
    "name":"Alice",
    "age":23,
    "profession":"Software Engineer",
    "salary":75000,
    "skills":["Python","Javascript","SQL"]
}

####Accessing Values

In [ ]:
print(f"Name:{person['name']}")
print(f"Skills:{person.get('age','Unknown')}") #Safe Acessing

Name:Alice
Skills:23

###Dictionaries Methods

In [ ]:
print(f"Keys:{person.keys()}")
print(f"Values:{person.values()}")
print(f"Items:{person.items()}")

Keys:dict_keys(['name', 'age', 'profession', 'salary', 'skills'])
Values:dict_values(['Alice', 23, 'Software Engineer', 75000, ['Python', 'Javascript', 'SQL']])
Items:dict_items([('name', 'Alice'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['Python', 'Javascript', 'SQL'])])

###Adding/Updating

In [ ]:
person["location"]="New York"
person["Salary"]=800000 #updating existing

###Practical Use Case:Inventory Management

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99,
    },
    "phones":{
        "quantity":100,
        "price":599.00,
    },
    "tablets":{
        "quantity":30,
        "price":399.00,
    }
}

Nested Access

In [ ]:
print(f"laptops prices:${inventory['laptops']['price']}")

laptops prices:$999.99

##sets

###sets contain unqiue elements

In [ ]:
colors={"red","green","blue","red"}
print(f"colors:{colors}")

colors:{'red', 'blue', 'green'}

Sets Operations

In [ ]:
team1_skills={"Python","Javascript","SQL","React"}
team2_skills={"Javascript","SQL","Java","Spring"}

Common Operations

In [ ]:
print(f"Common Skills:{team1_skills.intersection(team2_skills)}")
print(f"all Skills:{team1_skills.union(team2_skills)}")
print(f"Team1_only:{team1_skills.difference(team2_skills)}")

Common Skills:{'Javascript', 'SQL'}
all Skills:{'React', 'SQL', 'Java', 'Python', 'Spring', 'Javascript'}
Team1_only:{'React', 'Python'}

Adding Sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors:{colors}")

Updated colors:{'orange', 'red', 'green', 'purple', 'yellow', 'blue'}

#Control Flow

###Conditional Statements

Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score >=80:
    return "B"
  elif score >=70:
    return "C"
  elif score >=60:
    return "D"
  else:
    return "F"

####Test The Function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"Score{score}:Grade{grade}")

Score95:GradeA
Score83:GradeB
Score72:GradeC
Score65:GradeD
Score58:GradeF

###Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight <=1:
    weight_cost=2.0
  elif weight <=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance <= 100:
    distance_cost=1.0
  elif distance <= 500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost + weight_cost +distance_cost

Test Shipping Costs

In [ ]:
print(f"light close:${get_shipping_cost(0.5 ,50)}")
print(f"Heavy far:${get_shipping_cost(10,800)}")

light close:$8.0
Heavy far:$22.0

##Loops-For loop

Basics for loop

In [ ]:
fruits=["apple","bananan","orange","grapes"]
for fruit in fruits:
  print(f"i like {fruit}")

i like apple
i like bananan
i like orange
i like grapes

##Loops With enumerate (get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.bananan
3.orange
4.grapes

##Loop With Range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the Week")

Day 1 of the Week
Day 2 of the Week
Day 3 of the Week
Day 4 of the Week
Day 5 of the Week
Day 6 of the Week
Day 7 of the Week

###Nested loops-Creating a multiplication table

In [ ]:
print(f"Multiplication Table")
for i in range (1,6):
  for j in range(1,6):
    product =i+j
    print(f"{i}X{j}={product:2d}",end="")
    print() #new line

Multiplication Table
1X1= 2
1X2= 3
1X3= 4
1X4= 5
1X5= 6
2X1= 3
2X2= 4
2X3= 5
2X4= 6
2X5= 7
3X1= 4
3X2= 5
3X3= 6
3X4= 7
3X5= 8
4X1= 5
4X2= 6
4X3= 7
4X4= 8
4X5= 9
5X1= 6
5X2= 7
5X3= 8
5X4= 9
5X5=10

####Processing Data with loops

In [ ]:
sales_data=[
    {"product":"Laptop","price":999,"quantity":5},
    {"product":"Phone","price":599,"quantity":10},
    {"product":"Tablets","price":399,"quantity":8},
]

total_revenue=0

for item in sales_data:
  item_revenue=item["price"]*item["quantity"]
  total_revenue+=item_revenue
  print(f"{item['product']}:${item_revenue}")

  print(f"Total Revenue:${total_revenue}")

Laptop:$4995
Total Revenue:$4995
Phone:$5990
Total Revenue:$10985
Tablets:$3192
Total Revenue:$14177

##Loops-While loop

###While loops for user input simpulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("Guess the number Between 1 to 10!")

  while guess != target:

    #simulate user input
    import random
    guess =random.randint(1, 10)
    attempts += 1

    if guess<target:
      print(f"Guess {attempts}: {guess} -Too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} -Too high!")
    else:
       print(f"Guess {attempts}: {guess} -Correct!")


  #Safety Check
       if attempts>10:
          print("Max attempts reached!")
          break

       print(f"Game finished in{attempts} attempts")

simple_guessing_game()

Guess the number Between 1 to 10!
Guess 1: 4 -Too low!
Guess 2: 4 -Too low!
Guess 3: 10 -Too high!
Guess 4: 5 -Too low!
Guess 5: 4 -Too low!
Guess 6: 1 -Too low!
Guess 7: 10 -Too high!
Guess 8: 7 -Correct!
Game finished in8 attempts

###While loop for processing

In [ ]:
def process_queue():
  queue=["Task1","Task2","Task3","Task4"]

  while queue:
    current_task=queue.pop(0)# remove first item
    print(f"processing:{current_task}")

    print(f"remaining tasks:{len(queue)}")
  print(f"All Tasks Completed!")
process_queue()

processing:Task1
remaining tasks:3
processing:Task2
remaining tasks:2
processing:Task3
remaining tasks:1
processing:Task4
remaining tasks:0
All Tasks Completed!

##Functions

###Functions Basics

Basics function definition

In [ ]:
def greet(name):
  return f"Hello , {name}!"

Function Call

In [ ]:
message = greet("Python progrommer")
print(message)

Hello , Python progrommer!

###function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area=length * width
  return area

###Test the function

In [ ]:
room_area = calculate_area(12,10)
print(f"Room Area:{room_area} square feet")

Room Area:120 square feet

###Function With Defalut Parameter

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

###Different Ways to call

In [ ]:
profile1=create_user_profile("Alice") #use defaults
profile2=create_user_profile("Bob",25) #override age
profile3=create_user_profile("Charlie",location="New York", age=30)  #Named parameters

print(f"Profiles1:{profile1}")
print(f"Profiles2:{profile2}")
print(f"Profiles3:{profile3}")

Profiles1:{'name': 'Alice', 'age': 18, 'location': 'unknown', 'active': True}
Profiles2:{'name': 'Bob', 'age': 25, 'location': 'unknown', 'active': True}
Profiles3:{'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

##Advanced Function Concepts

Function rerturing multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces =len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

Test With Sample Text

In [ ]:
sample_text ="Python is a powerful programming language"

words, chars,chars_no_space= analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Word count:{words}")
print(f"Character count:{chars}")
print(f"character count(no spaces):{chars_no_space})")

Text:'Python is a powerful programming language'
Word count:6
Character count:41
character count(no spaces):36)

Variables-lenght arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers) / len(numbers)

Test with Different Arguments

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)

print(f"Average of 10,20,30:{avg1}")
print(f"Average of 5,15,25,35,45:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30:20.0
Average of 5,15,25,35,45:25.0
Average of 100:100.0

keyword Arguments

In [ ]:
def create_report(**data):
  print("==REPORT==")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print(f"============================================")

create_report(
    title="Monthly Sales Report",
    data="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returing_customers=150
)

==REPORT==
Title:Monthly Sales Report
Data:2024-01-01
Total Sales:15000
New Customers:25
Returing Customers:150
============================================

##Lambda Functions

###lambda Function(anonymous functions)

Regular function

In [ ]:
def square(x):
  return x  ** 2

lambda equivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function :{square(5)}")
print(f"Lambda function :{square_lambda(5)}")

Regular function :25
Lambda function :25

lambda with multiple arguments

In [ ]:
multiply = lambda x, y: x * y
print(f"multiply :{multiply(3,4)}")

multiply :12

lambda with built-in functions

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared:{squared}")

Squared:[1, 4, 9, 16, 25]

Filtering with Lambda

In [ ]:
ages = [16,21,35,12,45,18,67]
adults= list(filter(lambda age: age >=18, ages))
print(f"adults ages: {adults}")

adults ages: [21, 35, 45, 18, 67]

Sorting with lambda

In [ ]:
people = [
    {"name": "Alice","age" : 30},
    {"name" :"Bob","age":25},
    {"name":"Charlie","age":35}
]
sorted_people=sorted(
    people,
    key=lambda person : person["age"])
print("people Sorted by age:")

for person in sorted_people:
    print(f"{person['name']}:{person['age']}")

people Sorted by age:
Bob:25
Alice:30
Charlie:35